body {
    justify-content: flex-end;
    background-color: whitesmoke;
}

#main {
    width: 783px;
    margin: auto;
    padding: 5%;
    border: 3px solid darkgrey;
    box-shadow: 3px 5px gray;
    background-color: white;
    
}

#container {
    background-image: url("../img/background.jpg");

li {
    font-style: italic
}

.body_committees {
    margin: 10px;
}

.body_committees * li {
    color: gray;
}

.article_main {
    padding: 10px;

}

.body_legislation {
    padding: 10px;

}

footer {
    color: lightslategray;
    padding: 10px;
}